<div class="text-center banner">
    #jug<a href="https://www.twitter.com/jugorleans"><img src="../images/twitter.png" class="image" alt="Twitter du JUG'Orléans"/></a>rleans
</div>
<div class="logo-beta">bêta</div>
<div class="jumbotron">
  <h1>Twitter river du JUG'Orléans</h1>
  <p>Accéder en temps réel à tous les tweets concernant le JUG'Orléans</p>
  <p><a class="btn btn-primary btn-lg" href="#/wall" role="button">Continuer</a></p>
</div>
<div class="text-center footer" >
    <a href="http://www.jugorleans.fr"><img class="logo" src="../images/jug.png" alt="JUG'Orléans"/></a>
</div>
<div class="text-center permadiv">
<a href="http://www.jugorleans.fr" class="permalink">JUG'Orléans</a> - Une association de passionnés
</div>