<div class="text-center banner-wall">
    #jug<a href="https://www.twitter.com/jugorleans"><img src="../images/twitter.png" class="image" alt="Twitter du JUG'Orléans"/></a>rleans
</div>
<div class="logo-beta-wall">bêta</div>
<br>
<div class="container-wall" infinite-scroll='infiniteScroll.nextPage()' infinite-scroll-disabled='infiniteScroll.busy'>
    <div class="well well-sm" ng-repeat="tweet in tweets">
        <div class="media">
            <a class="pull-left" href="https://www.twitter.com/{{tweet.login}}">
                <img src="{{tweet.img}}" alt="{{tweet.name}}">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{tweet.login}}</h4>
                <div ng-bind-html="tweet.text | linkEnhancer" />
            </div>
        </div>
    </div>
</div>
